# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Environment Variables (SECRETS)
.env

# PDF files (Don't upload test resumes)
*.pdf
*.png
# Ignore PNGs by default but include images used in README
!images/*.png